.FaqDecor {
    // position: fixed;
    // left: 0px;
    // top: 0px;
    // width: 100vw;
    // height: 100vh;
    // z-index: -1;
    // // padding: 150px 0px 150px 0px;

    width: 100%;
    height: 500px;

    &_element {
        pointer-events: none;
    }
}