.PortfolioItemLast {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 12px;

    @media(max-width: 600px) {
        padding-right: 0px;
    }

    align-items: center;

    @media(max-width: 1000px) {
        flex-wrap: wrap;
    }

    &__left {
        width: 35%;
        display: flex;
        flex-wrap: wrap;
        padding: 22px;
        border-radius: 20px;

        @media(max-width: 1000px) {
            width: 100%;
        }

        @media(max-width: 1000px) {
            padding: 0px;
        }

        &-num {
            font-size: 60px;
            width: 120px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-top {
            width: 100%;
            display: flex;
            justify-content: left;

            &-inner {
                width: 100%;
                min-height: 120px;
                border-top: 5px solid #CF662F;
                border-right: 5px solid #CF662F;
                border-top-right-radius: 20px;
                position: relative;
                top: 1px;
            }

            &-border {
                justify-content: flex-start !important;
                align-items: flex-start !important;
                // z-index: -1;
                top: .5px;
            }

            &-block {
                width: 100% !important;
                align-items: start !important;
                justify-content: right !important;
                padding-left: 175px;
            }
        }

        &-bottom {
            display: flex;
            flex-wrap: wrap;
            padding: 22px;
            padding-top: 6px;
            margin-top: 20px;
            // border: 5px solid #CF662F;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-left: 5px solid #CF662F;
            border-bottom: 5px solid #CF662F;
            border-right: 5px solid #CF662F;
        }

        &-title {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 6px;
            position: relative;
            z-index: 1;

            &-big {
                font-size: 50px;

                @media (max-width: 550px) {
                    font-size: 30px;
                }
            }

            &-small {
                font-size: 15px;
            }
        }

        &-description {
            width: 100%;
            font-size: 20px;

            @media (max-width: 550px) {
                font-size: 15px;
            }
        }
    }

    &__orange {
        background-color: #CF662F;
    }

    &__right {
        width: 65%;

        video {
            width: 100%;
            border: 5px solid #CF662F;
            border-radius: 24px;
        }

        @media(max-width: 1000px) {
            width: 100%;
        }
    }

    &__orange {
        background-color: #CF662F;
    }
}