.PortfolioItemSmall {
    width: calc(33% - 20px);
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 520px) {
        width: calc(50% - 20px);
    }

    video {
        width: 100%;
    }

    &__img {
        width: 100%;
        padding-bottom: 18px;
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 8px;

            @media (max-width: 350px) {
                flex-wrap: wrap;
            }
        }

        &-title {
            font-size: 34px;

            @media (max-width: 760px) {
                font-size: 28px;
            }
        }

        &-date {
            font-size: 10px;
            border-radius: 4px;
            border: 1px solid #FFFFFF;
            padding: 4px;
        }

        &-description {
            font-size: 20px;

            @media (max-width: 620px) {
                font-size: 12px;
            }
        }
    }
}