@font-face {
    font-family: "Bowler";
    src: url("/fonts/Bowler.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Vogue";
  src: url("/fonts/classyvogueregular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "K2";
  src: url("/fonts/K2D-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
  





  