.FAQ {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    &__decor {
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, #0000, #0000, #000B);
    }

    &__accordion {
        width: 100%;
        min-height: calc(100vh - 72px);
        background: #000B;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 80px;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            cursor: pointer;
            font-weight: 700;

            &-title {
                font-weight: 700;
            }

            &-icon {
                border: 1px solid #FFF;
                padding: 0px 5px;
                font-size: 18px;
                display: flex;
                justify-content: center;
                user-select: none;
                align-items: center;
            }
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
            user-select: none;

            &_inner {
                user-select: none;
                padding: 15px;
                color: white;
            }
        }

        &-item {
            border-bottom: 1px solid #FFF;
            border-top: 1px solid #FFF;

            &.open {
                .FAQ__accordion-content {
                    max-height: 300px;
                    opacity: 1;
                }
            }

            &_inner {
                width: 100%;
                max-width: 1000px;
                margin: 0 auto;
            }
        }
    }
}